In [2]:
import pandas as pd
import numpy as np
import sklearn

In [3]:
housing_data = pd.read_csv('data/2014_Housing_Market_Analysis_Data_by_Zip_Code.csv')
crime_2016_data = pd.read_csv('data/2016_Annual_Crime_Data.csv')
crime_2015_data = pd.read_csv('data/Annual_Crime_Dataset_2015.csv')
library_data = pd.read_csv('data/Austin_Public_Library_Locations.csv')
water_consumption_data = pd.read_csv('data/Austin_Water_-_Residential_Water_Consumption.csv')
campaign_finance_data = pd.read_csv('data/Campaign_Finance_Data_-_Report_Detail_Dataset.csv')
park_data = pd.read_csv('data/City_of_Austin_Parks_data.csv')
public_art_data = pd.read_csv('data/City_of_Austin_Public_Art_Collection.csv')
public_venue_data = pd.read_csv('data/Creative_Workspaces__Performance_Venues__Galleries___Museums.csv')
ev_charging_data = pd.read_csv('data/Electric_Vehicle_Charging_Network.csv')
lake_data = pd.read_csv('data/INLANDWATERS_lakes.csv')
restaurant_inspection_data = pd.read_csv('data/Restaurant_Inspection_Scores.csv')
traffic_camera_data = pd.read_csv('data/Traffic_Cameras.csv')

In [8]:
ev_charging_data.shape

(317, 21)

In [10]:
crime_2015 = crime_2015_data.groupby(['GO Location Zip', 'Highest NIBRS/UCR Offense Description']
                        , as_index = False)['GO Primary Key'].agg('count')

crime_2016 = crime_2016_data.groupby(['GO Location Zip', 'Highest NIBRS/UCR Offense Description']
                        , as_index = False)['GO Primary Key'].agg('count')

ev_charging = ev_charging_data.groupby('Postal Code', as_index = False).count()
ev_charging.head()

,Postal Code,Station Display Name,EVSE Latitude and Longitude,Port 1: Voltage (V),Port 1: Current (A),Port 1: Connector Type,Port 2: Voltage (V),Port 2: Current (A),Port 2: Connector Type,Org Name,...,Address 2,Floor Label,City,State,County,Country,No. of Ports,Reservation,Customer Category,Customer Subcategory
0,78613,1,1,1,1,1,1,1,1,1,...,0,0,1,1,1,1,1,1,1,1
1,78701,50,50,50,50,50,50,50,50,50,...,1,15,50,50,48,50,50,50,50,50
2,78702,18,18,18,18,18,18,18,18,18,...,0,0,18,18,18,18,18,18,18,18
3,78703,10,10,10,10,10,10,10,10,10,...,0,0,10,10,9,10,10,10,10,10
4,78704,29,29,29,29,29,29,29,29,29,...,0,2,29,29,29,29,29,29,29,29

In [36]:
# I'm not sure if this is the right list
austin_zip_codes = {'zip_codes': [78610, 78613, 78617, 78641, 78652, 78653, 78660, 78664, 78681, 78701, 78702, 78703, 78704, 78705
                    , 78712, 78717, 78719, 78721, 78722, 78723, 78724, 78725, 78726, 78727, 78728, 78729, 78730, 78731
                    , 78732, 78733, 78734, 78735, 78736, 78737, 78738, 78739, 78741, 78742, 78744, 78745, 78746, 78747
                    , 78748, 78749, 78750, 78751, 78752, 78753, 78754, 78756, 78757, 78758, 78759]}

austin_zip_codes = pd.DataFrame(austin_zip_codes)

In [33]:
combined_data = austin_zip_codes.copy()
print(combined_data.shape)

combined_data = pd.merge(left = combined_data, right = crime_2015_data
                      , how = 'inner'
                      , left_on = 'zip_codes'
                      , right_on = 'GO Location Zip')
print(combined_data.shape)

combined_data = pd.merge(left = combined_data, right = crime_2016_data
                      , how = 'inner'
                      , left_on = 'zip_codes'
                      , right_on = 'GO Location Zip')
print(combined_data.shape)

(53, 1)
(38573, 13)
(38414, 14)